@charset "UTF-8";

/*
body {
    background-image: url('https://cdn.pixabay.com/photo/2015/12/18/13/46/gold-1098608__340.jpg');
    background-size: 100px 100px;
    background-repeat: repeat-x;
}
*/

*
div.quadrado {
       display: inline-block; 
       border: 1px solid black;
       height: 300px;
       width: 300px;
       margin: 10px;       
       border-radius: 10px;
       
       /* extras */
       background-repeat: no-repeat;
       background-position: center;
       

    }

div#q1 {
    background-color: lightgray;

}

div#q2 {
     background-image: linear-gradient(to bottom, yellow, red);
   
}

div#q3 {
    background-image: url('imagens/pattern002.png');
}    

