@charset "UTF-8"; 

body {
    height: 96vh;
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* "contain" (100% exibida), cover (cobrir a tela inteira mas cortando a imagem, mas ocupa a tela inteira*/
    background-attachment: fixed;
}

main {
   background-color: white;
   width: 400px;
   padding: 10px;
   margin: auto;
   border: 1px solid darkblue;
   box-shadow: 0px 3px 60px 10px black;
   border-radius: 15px;
   text-indent: 30px;
   text-align: justify;

}

